<header class="header">
    <nav class="header__container">
        <ul class="header__menu menu-main">
            <li class="menu-main__point"><a href="/">Main Page</a></li>
            <li class="menu-main__point"><a href="/users/register">Register page</a></li>
            <li class="menu-main__point"><a href="/users">Users page</a></li>
            <li class="menu-main__point"><a href="/products">Products</a></li>
            <li class="menu-main__point"><a href="/products/add">Add product page</a></li>
        </ul>
    </nav>
</header>