<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include('sections/header', { title: 'User form' }) %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>
      Задача 1. Розробити додаток для операцій з товарами (назва, ціна, кількість) з такими маршрутами:
      /products – відображаємо список товарів, 
      /login – при авторизації додаємо до сесії ім’я користувача і переходимо до сторінки «products» (при цьому товари відображаються у порядку зростання ціни),
      /addProduct– додаємо товар і переходимо на сторінку «products» (при цьому товари відображаються у порядку спадання ціни)
      Подумайте як передати інформацію про сортування товарів при переході на сторінку «/products»
    </p>
      <p>Задача 2. Розробіть веб-додаток для управління курсами та студентами. У базі даних будуть дві основні моделі: Course (курс: назва курсу, тривалість, список студентів) та Student (студент: ім’я, вік, середній бал). Кожен курс може мати список студентів (кілька студентів). Курс також може містити масив семінарів, які проводять студенти (кожен семінар є об'єктом з полями: тема семінару, відповідальний студент, тривалість семінару).</p>
    

  </body>
</html>
