<!DOCTYPE html>
<html>
  <head>
    <title>Main page</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <%- include('sections/header')%>
      <main class="main">
        
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
