<!DOCTYPE html>
<html>
  <head>
    <title>Main page</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <%- include('sections/header')%>
      <main class="main">
        <h1>Homework tasks</h1>
        <p>
          Задача. До попереднього проєкту, де ви робили валідацію додати базу даних згідно розглянутої на уроці схеми. Успіхів!
        </p>
        <p>
          1)додати до кожного елемента даних у вашому проєкті поле «owner» - де зберігається id властника (самі власники зберігається у окремій колекції «owners» (піб власника, адерса)). Організувати вибірку даних з відображення інформації про власників у списку елементів даних
          2)розмістити базу даних у “Atlas” та пов’язати з здеплоєним проєктом (вказати список валідних IP адрес)
        </p>  
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
