.main-menu{
    nav ul {
      list-style-type: none; /* Видаляє маркери списку */
      padding: 0; /* Видаляє відступи */
      margin: 0; /* Видаляє поля */
      display: flex; /* Встановлює елементи списку в рядок */
      justify-content: flex-start; /* Розподіляє елементи рівномірно */
  }

  nav ul li {
      margin: 0 10px; /* Встановлює відступи між пунктами меню */
  }

  nav ul li a {
      text-decoration: none; /* Видаляє підкреслення */
      color: #000; /* Змінює колір тексту */
      padding: 10px 20px; /* Додає відступи навколо тексту */
  }

  nav ul li a:hover {
      background-color: #f0f0f0; /* Додає фон при наведенні миші */
      border-radius: 5px; /* Робить кути округлими */
  }
  }

form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.form-group > * {
    width: 100%;
    text-align: center;
}
#imgPreview {
    max-width: 150px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 15px;
}
.product-card {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
}
.product-card img {
    max-width: 150px;
}
