.products {
    padding: 0 0 rem(50) 0;

    // .products__container
    &__container {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        justify-content: center;
        align-items: center;
    }

    // .products__header
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(30);
        width: 100%;
        & h2 {
            flex: 1 1 49%;
            text-align: right;
            font-size: rem(24);
            font-weight: 700;
            background: $main_gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & div {
            flex: 1 1 49%;
            position: relative;
            padding-bottom: 15%;
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20%;
                z-index: 1;
                background: rgb(19,19,19);
                background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0) 100%);
            }
        }
    }

    // .products__filter
    &__filter {
    }

    // .products__items
    &__items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        gap: rem(20);
    }
}
.filter-products {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(50);
    & input, & select {
        flex: 0 1 rem(200);
        padding: rem(10) rem(20);
        background-color: $input_bg;
        border: rem(1) solid $input_border;
        border-radius: rem(10);
        transition: all 0.3s;
        &:focus {
            outline: none;
            box-shadow: 0 0 rem(10) 0 gainsboro;
            transition: all 0.3s;
        }
        &::placeholder {
            color: rgb(154, 154, 154);
        }
    }
    & select {
        color: #fff;
    }
    & button {
        max-width: rem(150);
        width: rem(150);
        padding: rem(10) rem(20);
        background: $main_gradient;
        border-radius: rem(10);
        border: rem(1) solid $dark_black;
        transition: all 0.3s;
        &:hover {
            border-color: #fff;
            background: transparent;
            transition: all 0.3s;
        }
    }
}
.items-products {

    // .items-products__item
    &__item {
        border: rem(1) solid $card_border;
        border-radius: rem(15);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: rem(15);
        overflow: hidden;
    }
}
.products-item {

    // .products-item__image
    &__image {
        width: 100%;
        min-height: rem(250);
        position: relative;
        padding-bottom: 65%;
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .products-item__name
    &__name {
        padding: 0 rem(20);
        font-size: rem(16);
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover {
                color: chocolate;
                transition: all 0.3s;
            }
        }
    }

    // .products-item__price
    &__price {
        position: relative;
        padding: 0 rem(20);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: rem(10);
        font-size: rem(14);
        font-weight: 500;
        &:after {
            content: 'GRN';
        }
        &::before {
            content: '';
            position: absolute;
            bottom: rem(2);
            left: rem(16);
            width: 70%;
            height: rem(1);
            background-color: #fff;
        }
    }

    // .products-item__description
    &__description {
        padding: 0 rem(20);
        font-size: rem(14);
        font-weight: 500;
        text-align: justify;
        flex: 1 1 auto;
    }

    // .products-item__owner
    &__owner {
        padding: 0 rem(20);
        text-align: center;
        align-self: center;
        font-size: rem(16);
        font-weight: 600;
        text-transform: capitalize;
    }

    // .products-item__options
    &__options {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & button, & div {
            border: rem(1) solid $card_border;
            background-color: rgb(55, 51, 51);
            padding: rem(15) rem(10);
            transition: all 0.3s;
            @media (any-hover:hover) {
                &:hover {
                    background-color: rgb(92, 84, 84);
                    transition: all 0.3s;
                }
            }
        }
    }
}
.options-product {

    // .options-product__add
    &__add {

    }

    // .options-product__buy
    &__buy {

    }

    // .options-product__details
    &__details {

    }

    // .options-product__count
    &__count {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        justify-content: center;
        align-items: center;
        & input {
            max-width: rem(120);
        }
    }
}
