<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>About Page</title>
</head>
<body>
  <%- include('sections/header')%>
    <div class="about-block">
      <h1 class="title">№5 Homework tasks</h1>
      <p class="about-text">Задача 1. Розробити додаток для автопарку (марка авто, рік випуску, номер, зображення) з такими функціональними можливостями:
          1)додавання транспортного засобу
          2)редагування
          3)видалення
          4)виведення списку
          Також є статичні сторінки:
          Home
          about
          </p>
          <h2 class="title">№6 Homework tasks</h2>
          <p class="about-text">Задача. Додати до попереднього ДЗ проєкту валідацію даних.
          </p>
    </div>
</body>
</html>